body{
  background-color: var(--backgroundColor);
  font-family: var(--staatliches);
}

body:before{
  content: "";
  width: 100%;
  height: max(100vh, 500%);

  background-color: var(--primaryColor);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page{
  max-width: 100%;
  margin: auto;
}

img{
  max-width: 100%;
}

h1, h2{
font-weight: 400;
line-height: 3.4rem;
letter-spacing: 0.05em;
}

header{
  width: 100%;
  margin-block: 3.2rem 4.3rem;
  
  text-align: center;
  
  animation: show 1s;
}

header h1{
  font-size: 4rem;
  color: #ffffff;
  
  width: 100%;
  margin-top: 3.2rem;
  padding-block: 0.8rem;
  
  background-color: var(--secondaryColor);
  
  animation: show 1s 200ms backwards;
}

header p{ 
  display: none;
}

p{
  font-family: var(--palanquin);
  font-size: 1.6rem;
  line-height: 1.5rem;
  color: var(--paragraphColor);
  
  max-width: 30.5rem;
  
  text-align: center;
  margin: auto;

  animation: show 1s 400ms backwards;
}

.cards{
  display: flex;
  flex-direction: column;
  gap: 3.6rem;

  margin-top: 5.4rem;
}

.card{
  position: relative;
  
  width: min(32rem, 100%);
  margin: auto;

  animation: show 1s 500ms backwards;
}

.card h2{
  font-size: 1.6rem;
  color: var(--textColor);
  text-align: center;

  background-color: var(--terciaryColor);
  
  padding-inline: 2.3rem;
  border-radius: 2rem;

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  z-index: 100;

  animation: showh2 1s 1s backwards;
}

.card:nth-child(2){
  display: none;
}
.card:nth-child(6){
  display: none;
}

main{
  margin: 0 3.2rem  6rem;
}

main img{
  max-height: 450px;
  transition: 200ms;
}

main .card:hover img {
  transform: scale(1.1);
}

@keyframes show{
  0%{
    transform: translateY(40px); opacity: 0;
  }

  100%{
    transform: translateY(0px); opacity: 1;
  }
}

@keyframes showh2{
  0%{
    transform: translateY(-40px); opacity: 0;
  }

  100%{
    transform: translateY(0px); opacity: 1;
  }
}

footer{
  display: none;
}